<!-- src/app/components/confirmation-dialog/confirmation-dialog.component.html -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" *ngIf="confirmations.length > 0">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">
                    {{ confirmations[0].data.title }}
                </h5>
                <button type="button" class="btn-close" (click)="cancel(confirmations[0].id)"></button>
            </div>
            <div class="modal-body">
                <p>{{ confirmations[0].data.message }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancel(confirmations[0].id)">
                    {{ confirmations[0].data.cancelText || 'Cancel' }}
                </button>
                <button type="button" class="btn" [ngClass]="getButtonClass(confirmations[0].data.type)"
                    (click)="confirm(confirmations[0].id)">
                    {{ confirmations[0].data.confirmText || 'Confirm' }}
                </button>
            </div>
        </div>
    </div>
</div>