<!-- src/app/components/alert/alert.component.html -->
<div class="alert-container">
    <div *ngFor="let alert of alerts" class="alert {{cssClass(alert)}} fade" role="alert">
        <!-- Icon based on alert type -->
        <i *ngIf="alert.type === 'success'" class="fas fa-check-circle"></i>
        <i *ngIf="alert.type === 'info'" class="fas fa-info-circle"></i>
        <i *ngIf="alert.type === 'warning'" class="fas fa-exclamation-triangle"></i>
        <i *ngIf="alert.type === 'danger'" class="fas fa-times-circle"></i>

        <div class="alert-content">{{alert.message}}</div>
        <button type="button" class="btn-close" (click)="removeAlert(alert)">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>